<div class="clearfix" ng-controller="ButtonController">
	<button ng-show="active" ng-click="pauseToggl()" class="glyphicon glyphicon-pause" aria-hidden="true"></button>
	<button ng-show="!active" ng-click="playToggl()" class="glyphicon glyphicon-play" aria-hidden="true"></button>
	<button ng-show="active" ng-click="stopToggl()" class="glyphicon glyphicon-stop" aria-hidden="true"></button>
	<button ui-sref="newtask" class="glyphicon glyphicon-plus" aria-hidden="true"></button>
	<button ui-sref="week" class="glyphicon glyphicon-stats" aria-hidden="true"></button>
</div>